<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>814079596847-e9s003u3t79kfpdar64k7gfjbet13gi9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814079596847-e9s003u3t79kfpdar64k7gfjbet13gi9</string>
	<key>API_KEY</key>
	<string>AIzaSyAQSuayDON3UR_rmj2tP_g4ORTFGRrlTds</string>
	<key>GCM_SENDER_ID</key>
	<string>814079596847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Edris.InstaCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-6a825</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-6a825.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:814079596847:ios:bc17dab27fa6527fafe9da</string>
</dict>
</plist>
